.paw{
    position: absolute;
width: 265px;
height: 166px;
left: 138px;
top: 296px;

font-family: 'Rammetto One';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 105.9%;

color: #000000;

border: 0.5px solid #3A59FF;
}

.pawclub{
    position: absolute;
width: 178px;
height: 28px;
left: 65px;
top: 45px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.3em;

color: #000000;


}

.lorem-ipsum{
    position: absolute;
width: 373px;
height: 112px;
left: 138px;
top: 494px;

font-family: 'Raleway';
font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.06em;

color: #0A1760;


}

.button{
    box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 57px 24px 40px;
gap: 10px;

position: absolute;
left: 9.58%;
right: 75.76%;
top: 64.94%;
bottom: 28.61%;

border: 1px solid #000000;
border-radius: 40px;
}



.figure{
    position: relative;
    display: flex;
    justify-content: flex-start;
width: 330px;
height: 30px;
left: 981px;
top: 38px;
border: 0.5px solid #000000;
border-radius: 20px;

}



